__pycache__/
**/.vscode
wandb/

data/*
!data/train.csv
!data/test.csv
!data/train_test_splitter.ipynb

models/*
!models/meta.pkl
!models/view_model.ipynb

linear_probes/*
!linear_probes/saved_probes/
!linear_probes/view_probe.ipynb
!linear_probes/analyze_test_results.ipynb